body{
	background-color: darkturquoise;
}


h1{
color:fuchsia;
font-family: helvetica;
background-color: aqua;
border: 5px solid brown;
padding: 25px;
}

img{
	border: 5px solid cornflowerblue;
	width: 50%;
	height: 50%;
	margin-left: 100px;
}
