.header{
background-color: lightblue;
color:darkslategray;
font-family: helvetica;
border: 5px double brown;
padding: 25px;
text-align: center;
margin: auto;
max-height: 75px;
max-width: 600px;
}

p{
	text-align: center;
	color: darkslategray;
}
	
body{
	background-color:honeydew;
	text-align: center;
}
