body{
	background-color: rosybrown;
}

h1{
background-color: lightblue;color:darkslategray;
font-family: helvetica;
border: 5px double brown;
padding: 25px;
text-align: center;
}

p{
	color:lightcyan;
}

#highlight {
	color: darkslategray;
}
