body{
	background-color: rosybrown;
	text-align: center;
}


h1{
color:fuchsia;
font-family: helvetica;
background-color: lightblue;
border: 5px solid brown;
padding: 25px;
}

p{
	color:lightcyan;
}

#highlight {
	color: darkslategray;
	background-color: lightblue;
	border: 4px solid dimgray;
	padding: 17px;
}

#top{
	background-color: rebeccapurple;
}
img{
	border: 5px solid cornflowerblue;
	width: 50%;
	height: 50%;
	margin-left: 100px;
}
